# Environments
venv/
.env

# Python
__pycache__/
*.py[cod]

# Data
data/raw/*
data/processed/*.duckdb
data/processed/*.db

# Logs
logs/
src/transform/logs/
src/transform/job_analysis/logs/

# IDEs
.vscode/
.idea/